{
  "github": {
    "PRIVATE_TOKEN": "abcd1234kdkdkd",
    "BASE_GIT_API_HOST": "api.github.com",
    "REPO": "myname/myproject"
  },
  "gitlab": {
    "PRIVATE_TOKEN": "abcd1234kdkdkd",
    "BASE_GIT_API_HOST": "api.github.com",
    "PROJECT_ID": "myname/myproject",
    "TARGET_BRANCH": "develop"
  }
}
